$bg-color: #0d0d0d;
$text-color: #a3a3a3;
$line-color: #1e1e1e;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $line-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background-color: $bg-color;
  .content {
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%);
    h1 {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      color: $bg-color;
      -webkit-text-stroke: 1px $text-color;
      font-size: 160px;
      line-height: 120px;
    }
    span {
      font-size: 100px;
    }
    a {
      position: relative;
      top: 100px;
      text-align: center;
      text-decoration: none;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      border: 1px solid $text-color;
      color: $text-color;
      width: 270px;
      height: 73px;
      font-size: 20px;
      padding: 22px 50px 22px 50px;
      white-space: nowrap;
      cursor: pointer;
      background: linear-gradient(to bottom, $bg-color 50%, $text-color 50%);
      background-size: 100% 200%;
      background-position: top right;
      transition: all 2s ease-out;
      &:hover {
        background-position: bottom right;
        color: black;
      }
    }
  }
  img {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .line {
    background-color: $line-color;
    width: 2px;
    height: 100%;
    position: absolute;
    z-index: -1;
    // animation: anim_line1 5s infinite ease-in-out;
  }
  .line1 {
    left: 50%;
    animation: anim_line1 5s infinite ease-in-out;
    animation-delay: 0;
  }
  .line2 {
    left: 48%;
    animation: anim_line1 5s infinite ease-in-out;
    animation-delay: 2s;
  }
  .line3 {
    left: 24%;
    animation: anim_line1 5s infinite ease-in-out;
    animation-delay: 3s;
  }
  .preorder {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 100vh;
    background-color: $bg-color;
    h3 {
      color: $text-color;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      position: absolute;
      top: 10%;
      left: 10%;
    }
    hr {
      width: 20px;
      height: 4px;
      background-color: $text-color;
      position: absolute;
      top: 14%;
      left: 10%;
    }
    form {
      width: 300px;
      height: 100px;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .label-name {
        width: 100%;
        height: 40%;
        pointer-events: none;
        .content-name {
          color: white;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          transition: all 0.3s ease;
        }
      }
      input {
        margin-top: 5%;
        width: 100%;
        height: 30px;
        font-size: 14px;
        color: white;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid white;
        padding-bottom: 2px;
      }
      :focus{
        outline: none;
      }
      button {
        background-color: transparent;
        border: 1px solid $text-color;
        margin-left: 10px;
        width: 40px;
        height: 40px;
        color: $text-color;
        border-radius: 30px;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 30px;
        background-image: url("./arrow.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40% 40%;
        position: absolute;
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

@keyframes anim_line1 {
  0% {
    transform: translateX(300px);
  }
  50% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(300px);
  }
}
